<!--
<br>
<br> -->

<div class="row">
  <div class="col">
    <button class="btn btn-warning" [routerLink]="['/dashboard']">Back</button>
    <a routerLink="/task/new" class="btn btn-primary">Add Tasks</a>
  </div>
  <div class="col-md-2">
    <img src="assets/logo-tasks.png" alt="logo list of tasks">
  </div>
</div>
<br>
<!-- Search -->
<p>
  <!-- Handle key of event -->
  <input
  #queryTasks
  (keyup)="filter(queryTasks.value)"
  type="text" class="form-control" placeholder="Search Task...">
</p>

<div class="table-responsive-sm">
    <table class="table">
        <thead>
            <tr>
                <!-- <th>UID</th> -->
                <th>Status</th>
                <th>Task</th>
                <th>Address</th>
                <!-- <th>Suburb</th> -->
                <th>Class</th>
                <th>Type</th>
                <th>Technician</th>
                <th>Start Date</th>
                <th>End Date</th>
                <!-- <th>Description</th> -->
                <th>Zip</th>

              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of filteredTechnicians | paginate: { itemsPerPage: 10, currentPage: p }">
                <!-- <td>{{ b.eachUserID }}</td> -->
                <td>{{b.taskStatus}}</td>
                <a [routerLink]="['/task-detail', b.$key]"><td>{{ b.taskName }}</td></a>
                <td>{{ b.taskAddress }}</td>
                <!-- <td>{{ b.taskSuburb }}</td> -->
                <td>{{ b.taskClass }}</td>
                <td>{{ b.taskType }}</td>
                <td>{{ b.taskTechnicianName}}</td>
                <!-- <td>{{ b.taskDate | date:"dd/MM/yy hh:mm a" }}</td> -->
                <td>{{b.taskStartDate}}</td>
                <td>{{b.taskEndDate}}</td>

                <!-- <td>{{ b.taskDescription }}</td> -->
                <!-- <td>
                  <a [routerLink]="['/task-detail', b.$key]">View</a>
                </td> -->
                <td>
                  <a href="{{ b.zipFileUrl }}">download</a>
              </td>
              </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
