<div class="row">
  <div class="col">
    <button class="btn btn-warning" [routerLink]="['/dashboard']">Back</button>
    <a routerLink="/signup" class="btn btn-primary">Add Technician</a>
  </div>
  <div class="col-md-2">
    <img src="assets/logo-technicians.png" alt="logo list of technicians">
  </div>
</div>
<p>
    <!-- search technicians name -->
    <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search Name">
</p>

<div class="table-responsive-sm">          
    <table class="table">
        <thead>
        <tr>
                <th>Photo</th>
                <th>UID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contract Date</th>
                <th>Phone</th>
                <th>Sys Role</th>
                <th>Details</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of filteredTechnicians | paginate: { itemsPerPage: 10, currentPage: p }">  
            <td><img class="card-img-top profile-img" [src]="t.profileUrl" alt="Card image cap"></td>      
            <a [routerLink]="['/technicians-tasks', t.$key]">   
            <td title="Click here to see this technichian's tasks">{{ t.name }}</td>
            </a>
            <td>{{ t.id }}</td> 
            <td>{{ t.email }}</td>
            <td>{{ t.expirationDate }}</td>
            <td>{{ t.phone }}</td>
            <td>{{ t.userType }}</td>
            <td>
                <a [routerLink]="['/technicians', t.$key]">Edit</a>
            </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
      